.a{
    cursor: pointer;
    color: yellow;
    
}
.a:hover{
    color: rgb(192, 192, 4);
}
.col:hover{
    color: rgb(11, 194, 194);
}
a{
    color: yellow;
}
a:hover{
    color: rgb(192, 192, 4);
}
.ds{
    color: red;
}
.ds:hover{
    color: rgb(131, 17, 17);
    cursor: pointer;
}
